/* Normaliserende styling */

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=text],
input[type=search],
input[type=button],
button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

/* Animationer */

@keyframes section-fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Variabler */

:root {
    /* Farver */
    --lego-yellow: #ffd502;
    --lego-blurple: #201d48;
    --lego-light-blue: #abd9ff;
    --lego-dark-blue: #18152d;
    --lego-red: #d0021b;
    --lego-orange: #e96f14;
    --lego-light-gray: #f8f8f8;
    --black: #000000;
    --white: #FFFFFF;
    /* Fonts */
    --font-stack: sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-normal: 16px;
    --font-size-tiny: 0.7rem;
    --font-size-small: 0.85rem;
    --font-size-medium: 1.15rem;
    --font-size-large: 2.5rem;
    --line-height-normal: 1.3;
    /* Animationer */
    --transition-standard: 100ms ease-in-out;
    /* Andre */
    --content-width: 1600px;
    --main-header-height: 75px;
    --border-radius: 4px;
}

/* Basis-styling */

body {
    font-family: var(--font-stack);
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
}

/* Modifiers */

.full-width {
    width: 100% !important;
    max-width: 100%!important;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
}

.is-faded-in {
    animation: section-fade-in 300ms ease-in forwards;
}

/* Styling til genanvendelige elementer */

.some-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.some__link {
    display: block;
    height: 40px;
}

.some__icon {
    height: 100%;
    width: auto;
}

.language-selector {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-small);
    padding: 10px 13px;
    background-color: var(--lego-dark-blue);
}

.language-selector__icon {
    height: 19px;
}

input[type=text],
input[type=search] {
    height: 55px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--white);
    font-size: var(--font-size-small);
    border: none;
}

input[type=text]:focus::placeholder,
input[type=search]:focus::placeholder {
    opacity: 0;
}

button,
input[type=button],
.button {
    padding: 0 20px;
    background-color: var(--lego-orange);
    color: var(--black);
    height: 55px;
    border-radius: var(--border-radius);
}

.kids-button {
    background-color: var(--lego-light-blue);
    color: var(--black);
    display: inline-flex;
    align-items: center;
    height: auto;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    font-size: var(--font-size-tiny);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.05em;
    gap: 10px;
}

.button__arrow-back {
    position: relative;
    top: -1px;
    height: 7px;
    width: auto;
    transform: rotateY(180deg);
}

.newsletter-signup-form {
    display: flex;
}

.newsletter-signup-form .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.newsletter-signup-form .button svg {
    height: 16px;
    width: auto;
    position: relative;
    left: 1px;
}

/* Styling til header og tilhørende elementer */

.above-header {
    height: 55px;
    width: 100%;
    background-color: var(--lego-light-gray);
    display: none;
}

.above-header__inner {
    height: 100%;
    width: var(--content-width);
    max-width: calc(100% - 60px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mobile-header {
    position: sticky;
    top: 0;
    left: 0;
    height: 51px;
    box-sizing: padding-box;
    border-bottom: 2px solid var(--lego-yellow);
    background-color: var(--white);
    z-index: 3;
}

.mobile-header-inner {
    height: 100%;
    width: var(--content-width);
    max-width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hamburger-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    gap: 10px;
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hamburger__line {
    height: 2px;
    width: 20px;
    background-color: var(--black);
}

.hamburger__text {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.5rem;
}

.mobile-header__logo-link {
    display: inline-block;
    height: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    margin-right: 20px;
}

.mobile-header__logo {
    height: 100%;
    width: auto;
}

.main-header {
    height: var(--main-header-height);
    width: 100%;
    background-color: var(--lego-yellow);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}

.main-header-inner {
    height: 100%;
    width: var(--content-width);
    max-width: calc(100% - 60px);
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main-header__logo-link {
    display: inline-block;
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    margin-right: 20px;
}

.main-header__logo {
    height: 100%;
    width: auto;
}

.main-nav {
    height: 100%;
}

.main-nav__items {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-nav__item {
    position: relative;
}

.main-nav__link {
    color: var(--black);
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
}

.main-nav__link:hover {
    text-decoration: none;
}

.main-nav__link:not(.main-nav__link--button)::after {
    content: '';
    height: 0.1em;
    border-bottom: 3px solid var(--black);
    width: 100%;
    background-color: currentcolor;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity var(--transition-standard);
}

.main-nav__item:hover .main-nav__link:not(.main-nav__link--button)::after {
    opacity: 1;
}

.main-nav__link--button {
    padding: 10px 20px 8px;
    background-color: var(--white);
    color: var(--lego-red);
    border-radius: var(--border-radius);
    font-weight: var(--font-weight-normal);
    transition: background-color var(--transition-standard);
    transition-property: background-color, color;
}

.main-nav__link--button:hover {
    background-color: var(--black);
    color: var(--white);
}

.main-header-additionals {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-header-additionals__icon-wrapper {
    display: flex;
    cursor: pointer;
}

.main-header-additionals__icon {
    color: var(--black);
}

.main-header-additionals__cart {
    color: currentcolor;
}

.main-header-additionals__search {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
}

.main-header-additionals__cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-count {
    font-size: var(--font-size-tiny);
    line-height: 1;
}

.cart-count::before,
.cart-count::after {
    position: relative;
    top: -0.05em;
}

.cart-count::before {
    content: '(';
}

.cart-count::after {
    content: ')';
}

@media screen and (min-width: 767px) {

    .above-header {
        display: block;
    }

    .mobile-header {
        display: none;
    }

    .main-header {
        display: block;
    }
}

/* Styling til hovedindhold */

.main-content {
    max-width: 100vw;
    overflow-x: hidden;
}

/* Styling til footer og tilhørende elementer */

.main-footer {
    background-color: var(--lego-blurple);
    color: var(--white);
    width: 100%;
}

.main-footer-inner {
    width: var(--content-width);
    max-width: calc(100% - 60px);
    margin: 0 auto;
    padding: 40px 0;
}

.main-footer__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.main-footer__row:has(+ .main-footer__row):not(:has(.main-footer__bottom-items)) {
    margin-bottom: 80px;
}

.main-footer__row:has(.main-footer__bottom-items) {
    margin-bottom: 20px;
}

.main-footer__logo-wrapper {
    height: 97px;
}

.main-footer__logo {
    height: 100%;
    width: auto;
}

.main-footer__logo-wrapper:has(+ *) {
    margin-bottom: 20px;
}

.main-footer__widget:has(+ *) {
    margin-bottom: 20px;
}

.main-footer__heading {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}

.main-footer__heading {
    margin-bottom: 2.5rem;
}

.main-footer__heading:has(+ .main-footer__items) {
    margin-bottom: 1.75rem;
}

.main-footer__item-link {
    color: var(--white);
    display: block;
    padding: 0.75rem 0;
}

.main-footer__bottom-items {
    display: flex;
    gap: 30px;
}

.main-footer__bottom-item .main-footer__item-link {
    font-size: var(--font-size-tiny);
}

.main-footer__text {
    font-size: var(--font-size-tiny);
}

@media screen and (min-width: 768px) {

    .main-footer__row:not(:nth-child(3)):not(:nth-child(4)) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .main-footer__row:nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {

    .main-footer__row:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Jannicks del */

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.small-heading {
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: var(--font-weight-bold);
}

.accordion-element {
    width: 100%;
}

.accordion-element-inner {
    width: 100%;
    margin: 0 auto;
}

#accordion-360view {
    background-color: var(--black);
    color: var(--white);
}

.accordion-element__top-section {
    width: var(--content-width);
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.accordion-element__heading {
    color: var(--lego-yellow);
}

.mclaren-360view {
    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow-y: hidden;
}

.mclaren-360view img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.mclaren-360view__bottom-content {
    width: var(--content-width);
    max-width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}

.mclaren-360view__logo {
    height: 30px;
    width: auto;
    fill: var(--white);
}

.drag-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    padding: 0 20px;
}

.drag-control__descriptor {
    font-size: var(--font-size-small);
    user-select: none;
}

.drag-control {
    position: relative;
    width: 260px;
    max-width: 100%;
    height: 20px;
    cursor: pointer;
}

.drag-control::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background-color: var(--white);
}

.drag-control__stop {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--white);
    background-color: var(--black);
    border-radius: 50%;
}

#drag-control-stop-1 {
    left: 0;
}

#drag-control-stop-2 {
    left: calc(100% / 3);
}

#drag-control-stop-3 {
    left: calc((100% / 3) * 2);
}

#drag-control-stop-4 {
    left: 100%;
}

.drag-control__handle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--black);
    border: 1px solid var(--lego-yellow);
    transition: background-color 75ms ease-in-out;
}

.drag-control__handle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 40%;
    background-color: var(--lego-yellow);
    transition: background-color 75ms ease-in-out;
}

.drag-control__handle:hover {
    background-color: var(--lego-yellow);
}

.drag-control__handle:hover::after {
    background-color: var(--black);
}

.drag-control__handle.active {
    background-color: var(--lego-yellow);
}

.drag-control__handle.active::after {
    background-color: var(--black);
}

@media screen and (min-width: 767px) {

    .accordion-element__top-section {
        flex-direction: row;
        gap: 0;
    }

    .mclaren-360view__bottom-content {
        flex-direction: row;
        align-items: flex-end;
        gap: 0;
    }

    .drag-control-wrapper {
        gap: 50px;
        flex-direction: row;
        align-items: center;
    }

    .drag-control__descriptor {
        font-size: var(--font-size-normal);
    }
}

/*Rose*/

.carousel-outer {
    width: 100%;
    padding: 30px 0;
    background-color: var(--black);
}

.carousel-container {
    width: 1280px;
    height: 500px;
    margin: 50px auto;
    position: relative;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        width: 70%;

    .nav .next {
        right: -50px;
        }
    .nav .prev {
        left: -50px;
        }
    .nav button{
        width: 45px;
        height: 45px;
        }
    .nav button .material-symbols-outlined {
        font-size: 20px;
}
    }
}

@media screen and (max-width: 1024px) {
    .carousel-container {
        width: 70%;

    .nav .next {
        right: -50px;
        }
    .nav .prev {
        left: -50px;
        }
    .nav button{
        width: 45px;
        height: 45px;
        }
    .nav button .material-symbols-outlined {
        font-size: 20px;
}
    }
}

.carousel-container .track {
    display: inline-flex;
    transition: 0.5s ease;
}

.carousel-container .carousel-inner {
    overflow: hidden;
}

.carousel-container .card-container {
    width: 320px;
    height: 500px;
    flex-shrink: 0;
    padding-right: 25px;
    box-sizing: border-box;
} 

.carousel-container .card-container .card {
    width: 300px; 
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff; 
    justify-content: space-between;
}

.carousel-container .card-container .card .img {
    width: 300px;
    height: 300px;
    background-color: #808080;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container .card-container .card .img img {
    width: 250px;
    height: 250px;
    object-fit: contain; 
    cursor: pointer;
    transition: transform .5s ease;
}

.carousel-container .card-container .card .img img:hover {
    transform: scale(1.1);
}


.card .info {
    flex-basis: 40px;
    flex-grow: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    font-size: 16px;
}

.card .price {
    flex-basis: 40px;
    flex-grow: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    font-size: 18px;
}

.carousel-container .card-container .card .basket {
    width: 250px;
    height: 50px;
    background-color: #ff7b00;
    color: black; 
    border: 10px;
    border-radius: 3px; 
    cursor: pointer;
    font-size: 16px; 
    border: 3px solid #ff7b00;
}

.carousel-container .card-container .card .basket:hover {
    background-color: black;
    color: #fff;
    border: 3px solid #ff7b00;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1a1a1a;
    cursor: pointer;
    z-index: 10;
    cursor: pointer;
}

.nav button:hover {
    background-color: #fff;
}

.nav button .material-symbols-outlined {
    font-size: 30px;
    color: #fff;
}

.nav button .material-symbols-outlined:hover{
    color:black;
}

.nav .prev {
    left: -80px;
    display: none;
}

.nav .prev.show{
    display: block;
}

.nav .next {
    right: -80px;
}

.nav .next.hide{
   display: none; 
}

/* Nikolajs CSS */
.gallery-container {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-image {
    width: 850px;
    height: 500px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensure image stays within the bounds */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure image is fully visible */
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    border-radius: 60%;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px; 
}

.next-btn {
    right: 10px; 
}

.thumbnail-gallery {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    overflow-x: scroll;
}

.thumbnail-gallery img {
    width: 150px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.thumbnail-gallery img:hover {
    transform: scale(1.1);
}

.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: 1000px;
    margin: 0px auto 0 auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 10px;
}

.info-text h3 {
    font-size: 24px;
    margin: 5px 0;
}

.info-text p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.info-item:not(:last-child) {
    border-right: 1px solid #ddd;
}

@media (max-width: 768px) {
    .info-box {
        flex-direction: column;
    }
    .info-item {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    .info-item:last-child {
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    .gallery-container {
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
    }

    .main-image {
        width: 100%; 
        height: auto;
    }

    .thumbnail-gallery {
        margin-top: 10px;
        width: 100%; 
        height: 100px;
        flex-direction: row;
    }

    .info-box {
        width: 100%;
        padding: 10px;
        flex-direction: row;
    }

    .info-item {
        padding: 5px; 
    }

    .info-text h3 {
        font-size: 16px; 
    }

    .info-text p {
        font-size: 12px; 
    }
}

/* Anton */

.review-container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 40px 20px;
}

.review-container h1,
.review-container h2 {
    text-align: center;
    margin: 0 0 20px;
}

.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rating label {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

.rating input {
    display: none;
}

.stars {
    color: #ddd;
}

.stars:hover {
    color: #ffdd00; 
}

.rating input:checked ~ .stars {
    color: #ffdd00;
}

.review-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-container textarea,
.review-container #name {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
}

.review-container button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    background-color: rgb(0, 90, 210);
    border: 2px solid rgb(0, 90, 210);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.review-container button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(0, 90, 210);
}

.review-container #reviewsList {
    margin-top: 30px;
}

.review {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 500px;
    margin: 10px auto;
}

.review-rating {
    color: #ffdd00;
    font-size: 20px;
}

.review-name {
    font-size: 20px;
    margin-top: 5px;
}

.review-comment {
    font-size: 16px;
    margin-top: 5px;
}

.review-container #ratingCounts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin-top: 10px; 
    font-size: 14px;
}

.review-container #ratingCounts > div {
    text-align: center; 
    padding: 5px;
}